
@import url('https://fonts.google.com/specimen/Inconsolata?query==incons&sidebar.open=true&selection.family=Inconsolata');

body {
    background-color: lightgray;
    font-family: inconsolata;
}

/*.container-fluid {
    background-color: tan;
}*/


#topthree {
    margin-left: 14px;
    font-size: 30px;
}

#forecast-title {
    margin-left: 20px;
}

div.currentforcast {
    background-color: rgba(30, 69, 114, 0.336);
}

.card.forecast1{
    background-color: rgb(26, 79, 194);

}

.card.forecast2{
    background-color: rgb(26, 79, 194);

}

.card.forecast3{
    background-color: rgb(26, 79, 194);
}

.card.forecast4{
    background-color: rgb(26, 79, 194);
}

.card.forecast5{
    background-color: rgb(26, 79, 194);
}

/*COLORS of UV*/
.green {
    background-color: green;  
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.violet {
    background-color: violet;
}
   
div.bg.primary-1 {
    margin: 10px;
}

div.bg.primary-2 {
    margin: 10px;
}

div.bg.primary-3 {
    margin: 10px;
}

div.bg.primary-4 {
    margin: 10px;
}

div.bg.primary-5 {
    margin: 10px;
}

/*FOOTER*/
footer {
    display:block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.github a:hover {
    color: whitesmoke;
}

